.mySwiper {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 7px !important;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px !important;
  height: 300px !important;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}





